@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
}

html {
  background: #e7e7e7;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
@media (max-width: 62em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 36em) {
  html {
    font-size: 37.5%;
  }
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flex {
  display: flex;
}

.overallPadding {
  padding: 0 10rem;
}

.text-center {
  text-align: center;
}

.margin-top-small {
  margin-top: 2rem;
}

.margin-top-medium {
  margin-top: 4rem;
}

.margin-top-large {
  margin-top: 8rem;
}

.margin-bottom-small {
  margin-bottom: 2rem;
}

.margin-bottom-medium {
  margin-bottom: 4rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}

.btn-primary {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #125496;
  transition: all 0.7s;
  background: transparent;
  color: #125496;
  align-items: center;
  cursor: pointer;
}
.btn-primary:hover {
  color: white;
  background: #ec425b;
  border: 2px solid #ec425b;
  transition: all 0.7s;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
}

.navigation {
  padding: 0 10rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #e7e7e7;
}
.navigation .nav {
  display: grid;
  grid-template-columns: 40% 50%;
  justify-content: space-between;
}
.navigation .nav__logo__img img {
  height: 6rem;
}
.navigation .nav__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation .nav__items__search {
  line-height: 7rem;
  width: 50rem;
  margin-right: 1rem;
}
.navigation .nav__items__search__box {
  height: 4rem;
  width: 60%;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid #125496;
  text-transform: capitalize;
  background: none;
  outline: none;
}
.navigation .nav__items__search__box::placeholder {
  color: #125496;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
}
.navigation .nav__items__search__btn {
  height: 4rem;
  width: 20%;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #125496;
  color: #e7e7e7;
  text-transform: capitalize;
  border-top-right-radius: 1rem;
  font-family: "Poppins", sans-serif;
}
.navigation .nav__items__icons {
  display: flex;
  justify-content: space-between;
}
.navigation .nav__items__icons .icons {
  color: #125496;
}
.navigation .nav__items__icons .icons:first-child {
  margin-right: 3rem;
}
.navigation .nav__items__icons .icons:hover {
  transform: translate(0, -0.2rem);
  transition: all 0.5s;
}
.navigation .navbar__list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  gap: 2rem;
}
.navigation .navbar__list__item .item-hyperlink {
  font-size: 1.5rem;
  color: #125496;
  opacity: 0.8;
  position: relative;
}
.navigation .navbar__list__item .item-hyperlink::before {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #125496;
  transition: width 0.35s ease-in-out;
}
.navigation .navbar__list__item .item-hyperlink:hover {
  opacity: 1;
  color: #125496;
}
.navigation .navbar__list__item .item-hyperlink:hover::before {
  width: 100%;
}

.hor-line {
  border: 1px solid #4fbee0;
  opacity: 0.5;
}

.footer {
  height: 100%;
  background: rgba(25, 32, 40, 0.3882352941);
  padding: 4rem 10rem;
}
.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer__container__content__heading {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #125496;
}
.footer__container__content__list__item {
  margin-bottom: 1rem;
}
.footer__container__content__list__item--links {
  color: white;
  font-size: 1.3rem;
}
.footer__container__content__list__item--links:hover {
  color: #125496;
  transition: all 0.6s;
}
.footer__container__content__list__item .payMethods-icon {
  height: 2rem;
}
.footer__container__content .social-links {
  gap: 1rem;
}
.footer__container__content .social-links .footer__container__content__list__item {
  transition: transform 0.4s ease-in-out;
}
.footer__container__content .social-links .footer__container__content__list__item:hover {
  transform: scale(1.2);
}
.footer__logo img {
  height: 15rem;
}
.footer .payMethods {
  display: grid;
  grid-template-columns: 70% 10%;
  justify-content: space-between;
  margin-top: 3rem;
}
.footer .payMethods__content {
  display: flex;
  align-items: center;
}
.footer .payMethods__heading {
  padding-bottom: 2rem;
  color: #125496;
  margin-right: 1rem;
  font-weight: 600;
}
.footer .payMethods .image-paymethod {
  height: 6rem;
}

.btn-top {
  margin-left: 50%;
  margin-top: 2rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 3.5rem;
  cursor: pointer;
}
.btn-top .icon {
  color: white;
}
.btn-top:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.heroSection {
  height: 90vh;
  width: 100%;
}
.heroSection__content {
  padding: 0 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.heroSection__content__text {
  padding-top: 15rem;
}
.heroSection__content__text__btn {
  margin-top: 2rem;
}
.heroSection__content__imageContainer {
  padding-top: 5rem;
}
.heroSection__content__imageContainer .composition {
  position: relative;
  width: 100%;
  height: max-content;
}
.heroSection__content__imageContainer .composition .composition-image {
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 9;
  transition: all 0.3s;
  width: 20rem;
  height: auto;
  outline-offset: 0.9rem;
}
.heroSection__content__imageContainer .composition .composition-image:hover {
  transform: scale(1.08);
  z-index: 12;
  outline: 0.65rem solid #4fbee0;
}
.heroSection__content__imageContainer .composition:hover .heroSection__content__imageContainer .composition-image:not(:hover) {
  transform: scale(0.93);
  opacity: 0.9;
}
.heroSection__content__imageContainer .composition .composition-image-pic1 {
  left: 30%;
  top: 10rem;
  z-index: 11;
}
.heroSection__content__imageContainer .composition .composition-image-pic2 {
  left: 9%;
  top: 20rem;
}
.heroSection__content__imageContainer .composition .composition-image-pic3 {
  left: 9%;
  top: 0;
}
.heroSection__content__imageContainer .composition .composition-image-pic4 {
  right: 9%;
  top: 0;
  z-index: 10;
}
.heroSection__content__imageContainer .composition .composition-image-pic5 {
  right: 9%;
  top: 22rem;
}

.typewriter {
  width: 100%;
  padding: 1rem 0;
  font-weight: 400;
}
.typewriter .changing-text {
  color: #ec425b;
}

.hor-line-small {
  border: 1.5px solid #125496;
  width: 6rem;
  color: #125496;
}

.heading-primary {
  background: linear-gradient(to right, #125496, #ec425b);
  text-transform: uppercase;
  display: inline-block;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}

.whyUs {
  padding: 10vh 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  background: #4fbee0;
}
@media (max-width: 48em) {
  .whyUs {
    grid-template-columns: 100%;
  }
}
.whyUs__main {
  border: 2px solid #125496;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.whyUs__main__heading {
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #125496;
}
.whyUs__main__description {
  text-transform: capitalize;
  line-height: 2.5rem;
}
.whyUs__main--btn {
  display: inline-block;
  margin-top: 2rem;
  width: fit-content;
}
.whyUs__others {
  padding: 3rem 0 3rem 3rem;
  gap: 1.5rem;
}
.whyUs__others__cards {
  display: flex;
  gap: 1rem;
}
@media (max-width: 48em) {
  .whyUs__others__cards {
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }
}
.whyUs__others__cards__items {
  padding: 1rem 0;
}
.whyUs__others__cards__items__icon {
  margin-right: 2.5em;
  margin-top: 3px;
}
.whyUs__others__cards__items__info__title {
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  color: #125496;
}
.whyUs__others__cards__items__info__description {
  text-transform: capitalize;
  line-height: 2.5rem;
  font-size: 14px;
}

.service-icon {
  color: #ec425b;
}

.categories {
  padding: 10vh 10rem;
  height: max-content;
}
.categories__container {
  margin: 2rem 0;
}
.categories__container--btngroup .btn-category {
  margin: 0 2rem 2rem 0;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid #125496;
  transition: all 0.7s;
  background: transparent;
  color: #125496;
  align-items: center;
  cursor: pointer;
}
.categories__container--btngroup .btn-category:hover {
  color: white;
  background: #4fbee0;
  border: 2px solid #4fbee0;
  transition: all 0.7s;
}
.categories__container--btngroup .active {
  color: white;
  background: #ec425b;
  border: 2px solid #ec425b;
  clip-path: polygon(0 0, 89% 0, 100% 50%, 89% 100%, 0 100%);
}
.categories__container--btngroup .active:hover {
  color: white;
  background: #ec425b;
  border: 2px solid #ec425b;
}

.product__card {
  height: auto;
  background-color: #f2f2f2;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  margin: 2rem;
  padding: 3rem 0;
  cursor: pointer;
  border-radius: 1rem;
}
.product__card:hover {
  transform: translate(0px, -8px);
}
.product__card--image {
  text-align: center;
}
.product__card--image img {
  width: 15rem;
  height: 16rem;
  object-fit: cover;
  object-position: center;
}
.product__card--info {
  text-align: center;
}
.product__card--info .product-productTitle {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #125496;
  font-size: 1.5rem;
  letter-spacing: -0.05rem;
}
.product__card--info .actual-price {
  font-size: 1.5rem;
  text-decoration: line-through;
  color: #ec425b;
  margin-right: 0.5rem;
}
.product__card--info .price {
  font-size: 1.3rem;
  color: #125496;
}

.tag {
  right: 0.5rem;
  top: -1rem;
  background: #ec425b;
  color: white;
  padding: 0 0.5rem;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: 700;
}

.rating {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  color: goldenrod;
  line-height: 1.1;
}
.rating span {
  color: #125496;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 62em) {
  .product {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 48em) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 36em) {
  .product {
    grid-template-columns: 100%;
  }
}

.section-requestForm {
  padding: 10vh 10rem;
}
.section-requestForm .request {
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("./footballpitch.jpg");
  background-size: 100%;
  height: 65vh;
  border-radius: 3px;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.9);
  border: 2px solid #125496;
}
.section-requestForm .request-form {
  width: 50%;
  padding: 4rem;
}
.section-requestForm .request-form .form .form-group .form-input {
  padding: 0.5rem 0.25rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #125496;
  font-family: "Poppins", sans-serif;
}
.section-requestForm .request-form .form .form-group .form-input:focus-visible {
  outline: none;
  border: 2px solid #125496;
}
.section-requestForm .request-form .form .form-group .textbox {
  width: 65%;
  height: 3rem;
}
.section-requestForm .request-form .form .form-group .textbox::placeholder {
  font-family: "Poppins", sans-serif;
}
.section-requestForm .request-form .form .form-group .textarea-description {
  width: 65%;
}
.section-requestForm .request-form .form .form-group .textarea-description::placeholder {
  font-family: "Poppins", sans-serif;
}
.section-requestForm .request-form .form .form-group .product-picture {
  width: 65%;
}
.section-requestForm .request-form .form .btn-request {
  margin-top: 2rem;
}
.section-requestForm .request-form .form .btn-request:hover {
  color: #ffffff;
  background-color: #125496;
  border: 2px solid #125496;
  transition-timing-function: ease-in;
  transition-duration: 0.5s;
}

.product-details {
  padding: 3rem 7rem;
  width: 100%;
}
.product-details .product-contents {
  display: flex;
  justify-content: space-between;
}
.product-details .product-contents .image-slider {
  width: 50rem;
  height: 50rem;
  position: relative;
  background-size: cover;
}
.product-details .product-contents .image-slider .product-images {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  background: #383;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 7rem;
  grid-gap: 1rem;
  padding: 1rem;
}
.product-details .product-contents .image-slider .product-images img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  cursor: pointer;
}

.product-images img.active {
  opacity: 0.8;
}

.details {
  width: 50%;
  display: block;
}
.details .product-description {
  font-size: 2.5rem;
  height: auto;
  margin: 1rem 0;
  color: #125496;
}
.details .properties {
  margin-left: 2rem;
}
.details .properties li {
  list-style: circle;
  padding-top: 0.5rem;
}
.details .product-price {
  font-weight: 600;
  font-size: 2.5rem;
}
.details .product-actual-price {
  font-size: 2.5rem;
  opacity: 0.8;
  text-decoration: line-through;
  margin: 0 1.5rem;
  font-weight: 300;
}
.details .product-discount {
  color: #ec425b;
}

.btn-sizes {
  display: flex;
  align-items: center;
}
.btn-sizes .size-radio-btn {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #125496;
  border-radius: 50%;
  margin: 1rem;
  margin-left: 0;
  line-height: 5rem;
  text-transform: uppercase;
  color: #125496;
  cursor: pointer;
}
.btn-sizes .check {
  background: #125496;
  color: #fff;
}