.heroSection {
  height: 90vh;
  width: 100%;

  &__content {
    padding: 0 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;

    &__text {
      padding-top: 15rem;

      &__btn {
        margin-top: 2rem;
      }
    }

    &__imageContainer {
      padding-top: 5rem;
      .composition {
        position: relative;
        width: 100%;
        height: max-content;

        .composition-image {
          position: absolute;
          border-radius: 2px;
          box-shadow: 0 1.5rem 4rem rgba(#000000, 0.4);
          z-index: 9;
          transition: all 0.3s;
          width: 20rem;
          height: auto;
          outline-offset: 0.9rem;
          &:hover {
            transform: scale(1.08);
            z-index: 12;
            outline: 0.65rem solid $color-primary-light;
          }
        }
        &:hover &-image:not(:hover) {
          transform: scale(0.93);
          opacity: 0.9;
        }
        .composition-image-pic1 {
          left: 30%;
          top: 10rem;

          z-index: 11;
        }
        .composition-image-pic2 {
          left: 9%;
          top: 20rem;
        }
        .composition-image-pic3 {
          left: 9%;
          top: 0;
        }
        .composition-image-pic4 {
          right: 9%;
          top: 0;
          z-index: 10;
        }
        .composition-image-pic5 {
          right: 9%;
          top: 22rem;
        }
      }
    }
  }
}
.typewriter {
  width: 100%;
  padding: 1rem 0;
  font-weight: 400;

  .changing-text {
    color: $color-secondary;
  }
}
.hor-line-small {
  border: 1.5px solid $color-primary;
  width: 6rem;
  color: $color-primary;
}
.heading-primary {
  background: linear-gradient(to right, $color-primary, $color-secondary);
  text-transform: uppercase;
  display: inline-block;
  background-clip: border-box;
  -webkit-background-clip: text;
  color: transparent;
  font-weight: 600;
}
