.whyUs {
  padding: 10vh 10rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  background: $color-primary-light;

  @include respond(tab-port) {
    grid-template-columns: 100%;
  }

  &__main {
    border: 2px solid $color-primary;
    height: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__heading {
      text-transform: capitalize;
      margin-bottom: 2rem;
      color: $color-primary;
    }
    &__description {
      text-transform: capitalize;
      line-height: 2.5rem;
    }
    &--btn {
      display: inline-block;
      margin-top: 2rem;
      width: fit-content;
    }
  }

  &__others {
    padding: 3rem 0 3rem 3rem;
    gap: 1.5rem;

    &__cards {
      display: flex;
      gap: 1rem;

      @include respond(tab-port) {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
      }

      &__items {
        padding: 1rem 0;

        &__icon {
          margin-right: 2.5em;
          margin-top: 3px;
        }

        &__info {
          &__title {
            margin-bottom: 1rem;
            position: relative;
            display: inline-block;
            color: $color-primary;
          }
          &__description {
            text-transform: capitalize;
            line-height: 2.5rem;
            font-size: 14px;
          }
        }
      }
    }
  }
}
.service-icon {
  color: $color-secondary;
}
