@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 36em) {
        @content;
      } // 576px / 16 = 36em
    }
    @if $breakpoint == tab-port {
      @media (max-width: 48em) {
        @content;
      } // 768px / 16 = 48em
    }
    @if $breakpoint == tab-land {
      @media (max-width: 62em) {
        @content;
      } // 992px / 16 = 62em
    }
    @if $breakpoint == desktops {
      @media (max-width: 75em) {
        @content;
      } //1200px / 16 = 75em
    }
    @if $breakpoint == large-desktops {
      @media (min-width: 76em) {
        @content;
      } // Above 1200px
    }
  }
  