@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
  text-decoration: none;
  list-style: none;
}
$color-primary: #125496;
$color-primary-light: #4fbee0;
$color-secondary: #ec425b;
$color-black-light: #383833;

$fontSize-normal: 1.5rem;
$fontSize-medium: 2.5rem;
$fontSize-big: 4rem;

html {
  background: #e7e7e7;
  font-size: 62.5%; // 10px =1rem // 10/16*100%
  font-family: "Poppins", sans-serif;
  font-weight: 400;

  @include respond(tab-land) {
    font-size: 56.25%; // 9px = 1rem // 9/16*100%
  }
  @include respond(tab-port) {
    font-size: 50%; // 8px = 8/16*100%
  }
  @include respond(phone) {
    font-size: 37.5%; // 6px = 1rem // 6/16*100%
  }
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.flex {
  display: flex;
}
.overallPadding {
  padding: 0 10rem;
}
.text-center {
  text-align: center;
}
.margin-top-small {
  margin-top: 2rem;
}
.margin-top-medium {
  margin-top: 4rem;
}
.margin-top-large {
  margin-top: 8rem;
}
.margin-bottom-small {
  margin-bottom: 2rem;
}
.margin-bottom-medium {
  margin-bottom: 4rem;
}
.margin-bottom-large {
  margin-bottom: 8rem;
}
.btn-primary {
  padding: 0.8rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: 2px solid $color-primary;
  transition: all 0.7s;
  background: transparent;
  color: $color-primary;
  align-items: center;
  cursor: pointer;

  &:hover {
    color: white;
    background: $color-secondary;
    border: 2px solid $color-secondary;
    transition: all 0.7s;
    clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
  }
}
