.navigation {
  padding: 0 10rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #e7e7e7;

  .nav {
    display: grid;
    grid-template-columns: 40% 50%;
    justify-content: space-between;
    &__logo {
      &__img {
        img {
          height: 6rem;
        }
      }
    }
    &__items {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &__search {
        line-height: 7rem;
        width: 50rem;
        margin-right: 1rem;

        &__box {
          height: 4rem;
          width: 60%;
          padding: 1rem;
          border-top-left-radius: 1rem;
          border-bottom-left-radius: 1rem;
          border: 1px solid $color-primary;
          text-transform: capitalize;
          background: none;
          outline: none;

          &::placeholder {
            color: $color-primary;
            font-family: "Poppins", sans-serif;
            font-size: $fontSize-normal;
          }
        }
        &__btn {
          height: 4rem;
          width: 20%;
          border: 0;
          outline: none;
          cursor: pointer;
          background: $color-primary;
          color: #e7e7e7;
          text-transform: capitalize;
          border-top-right-radius: 1rem;
          font-family: "Poppins", sans-serif;
        }
      }
      &__icons {
        display: flex;
        justify-content: space-between;

        .icons {
          color: $color-primary;

          &:first-child {
            margin-right: 3rem;
          }

          &:hover {
            transform: translate(0, -0.2rem);
            transition: all 0.5s;
          }
        }
      }
    }
  }
  .navbar {
    &__list {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      gap: 2rem;

      &__item {
        .item-hyperlink {
          font-size: $fontSize-normal;
          color: $color-primary;
          opacity: 0.8;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            bottom: -0.3rem;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $color-primary;
            transition: width 0.35s ease-in-out;
          }

          &:hover {
            opacity: 1;
            color: $color-primary;

            &::before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.hor-line {
  border: 1px solid $color-primary-light;
  opacity: 0.5;
}
