.footer {
  height: 100%;
  background: #19202863;
  padding: 4rem 10rem;

  &__container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &__content {
      &__heading {
        font-weight: 600;
        margin-bottom: 1rem;
        color: $color-primary;
      }

      &__list {
        &__item {
          margin-bottom: 1rem;
          &--links {
            color: white;
            font-size: 1.3rem;

            &:hover {
              color: $color-primary;
              transition: all 0.6s;
            }
          }
          .payMethods-icon {
            height: 2rem;
          }
        }
      }
      .social-links {
        gap: 1rem;

        .footer__container__content__list__item {
          transition: transform 0.4s ease-in-out;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  &__logo {
    img {
      height: 15rem;
    }
  }
  .payMethods {
    display: grid;
    grid-template-columns: 70% 10%;
    justify-content: space-between;
    margin-top: 3rem;

    &__content {
      display: flex;
      align-items: center;
    }
    &__heading {
      padding-bottom: 2rem;
      color: $color-primary;
      margin-right: 1rem;
      font-weight: 600;
    }

    .image-paymethod {
      height: 6rem;
    }
  }
}
.btn-top {
  margin-left: 50%;
  margin-top: 2rem;
  height: 3rem;
  width: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  text-align: center;
  line-height: 3.5rem;
  cursor: pointer;

  .icon {
    color: white;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
}
